<% include ../partials/header.ejs %>

<header class="jumbotron" style="text-align: center;">
    <div class="container">        
        <h2><%= user.username %></h2>
        <p>Learn. Live. Explore.</p>
       	<img src="<%= user.image_url %>" style="border-radius: 50%">
    </div>
</header>

<div class="container">
	<ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active" href="#your_content" role="tab" data-toggle="tab">
            	Your Content
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#recents" role="tab" data-toggle="tab">
            	Recents
        	</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#suggested" role="tab" data-toggle="tab">
            	Suggested
        	</a>
        </li>
    </ul>

    <div class="tab-content" style="padding-top: 5px;">
    	<div role="tabpanel" class="tab-pane fade in active" id="your_content">
            
            <% songs.forEach(function(song) { %>
				<% if (String(song.uploader.id) == String(user._id)) {%>
                <div style="text-align: center">
					<div class="col-md-4 col-sm-6"> 
                    	<div class="thumbnail">
            		      	<img src = "<%= song.image %>">
            		      	<div class="caption">
            		          	<h4><%= song.name %>, <em><%= song.album %></em></h4>
                              	<em><%= moment(song.createdAt).fromNow() %></em>
            		      	</div>
                        	<audio controls  id="<%= song._id %>" src="<%= song.song %>">
                        	</audio>
                            <br>

                            <form style="display: inline;" class="delete-item-form" action="/users/songs/<%=song._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">
                                    Delete
                                </button>
                            </form>
    		        	</div>
					</div>
                </div>
				<% } %>
			<% }); %>
        </div>
        

    	<div role="tabpanel" class="tab-pane fade" id="recents">
            <% for(var i = 0; i < user.recents.length; i++) { %>
                <%  var found = 0 %>
                <% for(var j = 0; j < i; j++) {%>
                    <% if(user.recents[j].name === user.recents[i].name) { %>
                        <% found ++ %>
                    <%  } %>
                <%  } %>
                <% if(found == 0) { %>
                    <div style="text-align: center">
                        <div class="col-md-4 col-sm-6">  
                            <div class="thumbnail">
                                <img src = "<%= user.recents[i].image %>">
                                <div class="caption">
                                    <h4><%= user.recents[i].name %></h4>
                                    <em><%= user.recents[i].uploader %></em>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }; %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="suggested">
            <h3>Under Construction</h3>
            <p class="hidden-xs-down"> Coming out after finals week! </p>
        </div>
    </div>
</div>
</div>  <!-- /.container -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
















